.item {
  color: var(--color-text-secondary);
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 16px 0 16px 16px;
  border-radius: 6px;
  font-size: 17px;

  &:hover {
    background: #2A59D2;
    color: var(--color-text-primary);
  }
}

.active {
  background: #2A59D2;
  color: var(--color-text-primary);
}
