.icon {
  transform: translateY(-5px);
  color: var(--color-text-primary);
  cursor: pointer;
}

.avatar {
  width: 300px !important   ;
  height: 300px !important;
}

.text {
  color: var(--color-text-primary);
  font-size: 20px;
}
