.icon {
  transform: translateY(-5px);
  color: var(--color-text-primary);
}

.form {
  height: 100%;
  background: rgba(3, 33, 118, 1);
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  svg {
    fill: var(--color-text-primary);
  }
}

.btn {
  margin-top: auto;
}

.label {
  color: var(--color-text-primary);
}


.container{
  display: flex;
  gap:20px;
  width: 100%;
  justify-content: center;
}