body .css-ptkaw2-MuiDataGrid-root {
    color: rgba(255, 255, 255, 1);
    background: rgba(3, 33, 118, 1);
    border: none;
    border-radius: 12px;
  
    .MuiDataGrid-columnHeader:focus-within,
    .MuiDataGrid-cell:focus-within {
      outline: none;
    }
  
    .MuiDataGrid-withBorderColor {
      border: none;
    }
  
    .css-yrdy0g-MuiDataGrid-columnHeaderRow {
      color: var(--color-text-secondary);
    }
  
    .css-rtrcn9-MuiTablePagination-root {
      color: rgba(255, 255, 255, 1);
    }
  
    svg {
      fill: var(--color-text-secondary);
    }
  }
  
  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    color: rgba(255, 255, 255, 1) !important;
  
    svg {
      fill: rgba(255, 255, 255, 1);
    }
  }
  
  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root {
    background-color: #031852;
    ;
  }
  
  .css-1k4oq0i-MuiPaper-root-MuiPickersPopper-paper,
  .css-71vzt-MuiPaper-root-MuiPickersPopper-paper {
    background: var(--color-bg) !important;
    color: var(--color-text-primary) !important;
  
    *::-webkit-scrollbar {
      width: 10px;
    }
  
    *::-webkit-scrollbar-track {
      background: var(--color-bg);
    }
  
    *::-webkit-scrollbar-thumb {
      border: 2px solid var(--color-bg);
      background: var(--color-dark);
      border-radius: 10px;
    }
  
    svg {
      color: rgba(255, 255, 255, 1) !important;
    }
  
    span {
      color: rgba(255, 255, 255, 1) !important;
    }
  
    button {
      color: rgba(255, 255, 255, 1) !important;
    }
  }
  
  .css-jgls56-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
    border: 1px solid var(--color-dark) var(--color-primary);
  }
  
  .MuiOutlinedInput-notchedOutline {
    border-color: var(--color-bg) !important;
  }
  
  .MuiFilledInput-root {
    border-bottom: 1px solid var(--color-bg) !important;
  }
  
  .MuiInput-root {
    border-bottom: 1px solid var(--color-bg) !important;
  }
  
  .css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
    background: var(--color-bg) !important;
    color: rgba(255, 255, 255, 1) !important;
  }
  
  .css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
    background: #031852;
    color: rgba(255, 255, 255, 1) !important;
  }
  
  .css-38raov-MuiButtonBase-root-MuiChip-root {
    background: #031852 !important;
    color: rgba(255, 255, 255, 1) !important;
  }