.player {
  display: flex;
  align-items: center;
  column-gap: 15px;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background: var(--color-bg);
  }

  p {
    color: var(--color-text-primary);
  }
}
