.sidebar {
  min-height: calc(100vh - 40px);
  background: var(--color-bg);
  border-radius: 12px;
  padding: 85px 16px 16px 16px;
}

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  position: sticky;
  top: 16px;
}
